# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#other stuff
.vs/

TI2.4-CGR-Template/x64/

TI2.4-CGR-Template/CGR Template.vcxproj

TI2.4-CGR-Template/CGR Template.vcxproj.filters

TI2.4-CGR-Template/Debug/

TI2.4-CGR-Template/CGR_Template.vcxproj

TI2.4-CGR-Template/CGR_Template.vcxproj.user
